/* NAVBAR */
.navbar-default {
  background-color: #232D4B;
}

.navbar-brand {
  width: 300px;
  text-align: right;
  background-color: #232D4B;
  background-image: url("https://raw.githubusercontent.com/uva-bi-sdad/community/main/logo.svg");
  background-size: 25px;
  background-position: center left 5%;
  background-repeat: no-repeat;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F84C1E;
  background: #232D4B;
}

a.navbar-brand:hover {
  color: #F84C1E !important;
}

/* LINKS */
a:hover {
  color: #F84C1E !important;
}

a {
  color: #F84C1E;
}

/* PAGE TITLES AND SUBTITLES  */

h1.title {
  text-align: center;
  margin-bottom: -3px;
  }
h3.subtitle {
  text-align: center;
}

/* SECTION HEADERS AND TEXT  */
.section_header {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.section_text {
  font-size: 20px;
  font-weight: normal;
  text-align: justify;
}

/* FIGURE CAPTIONS  */
figcaption {
  font-size: 15px;
  text-align: right;
  padding: 0px 12px 12px 12px;
}

/* STORY IMAGEs */
.story_image {
  border: 1px solid #232d4b;
  box-shadow: 5px 5px 3px lightblue;
  margin:15px 15px 25px 15px;
}



